

%mont-700{
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}
%mont-600{
    font-family: 'Mont-SemiBold', sans-serif;
    font-weight: 600;
}
%mont-400{
    font-family: 'Mont-Regular', sans-serif;
    font-weight: 400;
}